header{
    display: flex;
    flex-direction: row;
    width: 100%;
} 

.info{
    width: 40%;
}

.logo{
    width: 30%;
}

.login{
    width: 30%;

}

.home{
    width: 41px;
    height: 35px;
}

.search{
    width: 35px;
    height: 35px;
}

.picture{
    width: 156px;
    height: 129px;
}

.main__category{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.ger{
    width: 174px;
    height: 150px;
    justify-content: ;
}

.main__catalog-title{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

footer img{
    width: 40px;
    height: 40px;
}